
.box-breathing {
  width: 50vmin;
  height: 50vmin;
  margin-top: -25vmin;
  margin-left: -25vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 5px solid #87cefa;
}

.box-breathing::after {
  box-sizing: border-box;
  font-size: 30px;
  padding-top: 18vmin;
  color: grey;
  width: 44vmin;
  height: 44vmin;
  margin-top: -22vmin;
  margin-left: -22vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: 'breathe';
  text-align: center;
  -webkit-animation: box-breath 5.5s infinite;
          animation: box-breath 5.5s infinite;
}

@-webkit-keyframes box-breath {
  0%, 75%, 100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
            background-color: #72ffcb;
  }
  25%, 50% {
    -webkit-transform: scale(1);
            transform: scale(1);
            background-color: #87cefa;
  }
}
