.App-header {
  overflow: hidden;
  height: 40px;
  padding: 20px;
  background: rgb(68,161,167);
  background: -moz-linear-gradient(45deg, rgba(68,161,167,1) 0%, rgb(114, 255, 203) 100%);
  background: -webkit-linear-gradient(45deg, rgba(68,161,167,1) 0%,rgba(114,255,203,1) 100%);
  background: linear-gradient(45deg, rgba(68,161,167,1) 0%,rgba(114,255,203,1) 100%);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  position: relative;
}

.logo-wrap {
  display: block;
  border-radius: 100%;
  border: 6px solid #83B8F4;
  background-color: #fff;
  width: 200px;
  height: 200px;
  left: -60px;
  top: -120px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.logo {
  width: 80px;
  position: absolute;
  right: 45px;
  top: 108px;
  transition: all .3s;
}

.logo-wrap:hover .logo {
  width: 90px;
  right: 40px;
  top: 103px;
}

.account {
  position: absolute;
  top: 25px; 
  right: 30px;
  color: #4e79a9
}

.account .logout-btn {
  text-decoration: underline;
  margin-right: 20px;
  color: #4e79a9;
  cursor: pointer;
}

.key-container {
  padding: 5px;
  position: relative;
  font: 20px;
}

.resting {
  background-color: green;
  margin-left: 30px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 5px;
}

.current {
  background-color: #83B8F4;
  margin-left: 20px;
  padding: 3px 10px;
  border-radius: 5px;
}

.steps {
  background-color: #ffcf32;
  margin-left: 20px;
  padding: 3px 10px;
  border-radius: 5px;
}

.chart-wrap {
  display: block;
  position: relative;
  margin: 30px;
  height: 400px;
  overflow-x: scroll;
}



.chart-key {
  position: absolute;
  top: 20px;
  left: 30px;
}

.chart-wrap::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.chart-wrap::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.chart-wrap section{
  background-color: #fff;
  width: 100%;
  height: 300px;
  margin: 10px 0 0 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
}

.VictoryContainer {
  background-color: #fff;
  height: 90% !important; /* yes... I'm aware. This stays until I figure out Victory.js styles */
  width: 2000px !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  margin-top: 15px;
}

.therapies-wrap {
  position: relative;
  display: block;
  position: relative;
  margin: 40px 30px 30px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
}

.therapies-wrap h2 {
  position: absolute;
  top: -27px;
  left: 0;
}

.therapies-wrap a {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
  height: 170px;
  transition: all .5s;
  vertical-align: top;
}

.therapies-wrap a:hover {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
  cursor: pointer;
}

.therapies-wrap a img {
  display: block;
  margin: auto;
  transition: all .5s;
}

.excercise-nav {
  position: relative;
  padding: 40px;
  border-bottom: 1px solid #E4E4E4;
  text-align: center;
}

.prev,
.next {
  border: 3px solid #8f8f8f;
  font-size: 20px;
  background-color: transparent;
  margin: 0 20px 0 0;
  border-radius: 3px;
  padding: 0px 10px 2px 10px;
  text-decoration: none;
  color: #8f8f8f;
}

.breath {
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  border-top-left-radius: 10px;
  text-decoration: none; 
}

.breath:hover {
  border-top-left-radius: 10px;
}

.breath:hover .lungs-icon {
  width: 130px; 
}

.lungs-icon {
  width: 120px; 
}

.breathe-wrap{
  padding: 0 0 40px 0;
  background-color: #fff;
  position: relative;
  margin: 1px 0 0 0;
  height: 600px;
  padding-bottom: 200px;
}

.mind {
  border-bottom: 1px solid #E4E4E4;
  text-decoration: none; 
}

.mind:hover {
  border-top-right-radius: 10px;
}

.therapies-wrap a .mindfulness-icon {
  width: 100px; 
  margin-top: 10px;
}

.mind:hover .mindfulness-icon {
  width: 110px; 
}

.sound {
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  text-decoration: none; 
}

.sound-icon {
  width: 100px; 
}

.sound:hover .sound-icon {
  width: 108px;
}

.notes {
  border-bottom: 1px solid #E4E4E4;
  text-decoration: none; 
}

.notes-icon {
  width: 80px; 
}

.notes:hover .notes-icon {
  width: 87px;
}

.sight {
  border-right: 1px solid #E4E4E4;
  text-decoration: none; 
}

.sight:hover {
  border-bottom-left-radius: 10px;
}

.therapies-wrap a .sight-icon {
  width: 120px;
  margin-top: 30px;
}

.sight:hover .sight-icon {
  width: 135px;
}

.lifeline {
  text-decoration: none; 
  vertical-align: top;
  color: #000;
}

.lifeline:hover {
  border-bottom-right-radius: 10px;
}

.lifeline .phone-icon {
  width: 80px;
  margin-top: 10px;
}

.lifeline:hover .phone-icon {
  width: 90px;
}

.video-frame {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.coming-soon, 
.loading {
  font-size: 25px;
  text-align: center;
  width: 150px; 
  margin: 60px auto;
}

@media screen and (max-width: 500px) {
  
  html{
    height: 100%;
  }

  body {
    background-color: #fff;
    background: -moz-linear-gradient(45deg, rgba(68,161,167,1) 0%, rgb(114, 255, 203) 100%);
  background: -webkit-linear-gradient(45deg, rgba(68,161,167,1) 0%,rgba(114,255,203,1) 100%);
  background: linear-gradient(45deg, rgba(68,161,167,1) 0%,rgba(114,255,203,1) 100%);
  }

  .App-header{
    background: none;
    background-color: #E5F6FF;
    box-shadow: none;
  }

  .main-wrap{
    margin-top: 1px;
  }

  .therapies-wrap {
    margin: 0;
    border-radius: 0;
  }

  .therapies-wrap h2 {
    display: none;
  }

  .therapies-wrap a .mindfulness-icon {
    width: 80px;
    margin-top: 10px;
  }

  .chart-wrap {
    margin: 0;
    height: auto;
  }

  .chart-wrap h2 {
    display: none;
  }

  .VictoryContainer {
    border-radius: 0 !important;
    margin: 0;
  }


}